#mapimage {
    width: 60vw;
    height: 90vw;
}

#titletext {
    font-family: "Script MT";
    color: #000099;
    font-size: 6vw;
    margin-top: 20px;
    text-decoration: underline;
}

.img-container {
    width: 100%;
}

body {
    background-image: url("../img/sky.jfif");
}